nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    position: sticky;
    top: 0px;
    margin: 10px 25px;
    z-index: 999;
}

nav li a {
    display: block;
}

.navbar-logo {
    color: black;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:nth-last-child(3) {
    margin-right: 5rem;
}

.nav-item {
    display: inline;
}

.nav-item a {
    display: inline-block;
}

.nav-item a:visited {
    color: inherit;
}

.nav-item a:hover {
    color: #ec099d;
}

.nav-item .btn {
    margin-top: 0;
    color: white;
}

.nav-item .btn:visited {
    color: white;
}

.dropdown-btn {
    font-size: 1.7rem;
}

.dropdown-content {
    position: absolute;
    top: 3rem;
    right: -1rem;
    width: 80px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    z-index: 99999999;
}

.drop-item {
    list-style-type: none;
    margin: 1rem 0;
    color: #000;
}

.drop-item a:visited {
    color: black;
}