nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    position: sticky;
    top: 0px;
    margin: 10px 25px;
}

nav li a {
    display: block;
}

.navbar-logo {
    color: black;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:nth-last-child(3) {
    margin-right: 5rem;
}

.nav-item {
    display: inline;
}

.nav-item a {
    display: inline-block;
}

.nav-item a:visited {
    color: inherit;
}

.nav-item a:hover {
    color: #ec099d;
}

.nav-item .btn {
    margin-top: 0;
    color: white;
}

.nav-item .btn:visited {
    color: white;
}